.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

.star {
    position: absolute;
    width: 150px;
    height: 2px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    animation: shoot forwards linear;
    opacity: 0;
}

@keyframes shoot {
    0% {
        transform: translateX(0) scaleX(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateX(1000px) scaleX(1);
        opacity: 0;
    }
}